<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="particles.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../client/public/assets/css/consumer.css" />
    <link rel="stylesheet" href="app.js" />
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <title>Current Surgical Status</title>
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
        <div class="container">
            <h1 class="header">VetSx &nbsp;</h1>
            <div class="tagline">Care. Heal. Connect.</div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" id="patientStat" href="#">Consumer
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">| About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">| Patient |</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <br>

    <!-- Page Content -->

    <!--  Surgical Procedure Status -->
    <div class="container-consumer">
        <div class="container-profile">
            <div class="page-header">
                <div>Patient Surgical Status</div>
            </div>
        </div>

        <div class="media">
            <img src="../public/assets/images/shiba.jpeg" class="mr-4" alt="shibainu">
            <div class="media-body">
                <br><br>

                <!--  Surgical Procedure Status -->
                <form>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label id="sxpatientID" for="inputPatientID">Patient ID</label>
                            <input type="text" class="form-control" id="inputsxPatientID">
                        </div>
                        <div class="form-group col-md-3">
                            <label id="sxDate" for="inputDate">Date</label>
                            <input type="text" class="form-control" id="inputsxDateID">
                        </div>
                    </div>
                </form>

                <form>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label id="sxclientID" for="inputClientID">Client ID</label>
                            <input type="text" class="form-control" id="inputsxClientID">
                        </div>
                        <div class="form-group col-md-3">
                            <label id="sxTime" for="inputTime">Time</label>
                            <input type="text" class="form-control" id="inputsxTimeID">
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <!-- Patient Surgical Status Header -->
        <div class="container-sx">
            <div class="surgical-header">
                <div>Patient Surgical Status</div>
            </div>
        </div>
        <br>
        <div class="form-group col-md-4">
            <label id="currentStatus" for="inputsxStatus">Current Status</label>
            <input id="inputsxStatus" class="form-control status" type="text">
        </div>

        <form>
            <div class="form-group">
                <label for="additionalInformation">Additional Comments</label>
                <textarea class="form-control" id="addInfo" rows="3"></textarea>
            </div>
            <br>
        </form>

        <!-- Patient Information Header -->
        <div class="container-profile">
            <div class="patient-header">
                <div>Patient Information</div>
            </div>
        </div>
        <br>
        <!-- Patient Information Inputs -->
        <form>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label id="petsName" for="inputPetsName">Pets Name</label>
                    <input type="text" class="form-control" id="inputPetsName">
                </div>
                <div class="form-group col-md-3">
                    <label id="species" for="inputSpecies">Species</label>
                    <input type="text" class="form-control" id="inputSpecies">
                </div>
                <div class="form-group col-md-3">
                    <label id="breed" for="inputBreed">Breed</label>
                    <input type="text" class="form-control" id="inputBreed">
                </div>
            </div>
        </form>

        <form>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label id="gender" for="inputGender">Gender</label>
                    <input type="text" class="form-control" id="inputGender">
                </div>
                <div class="form-group col-md-2">
                    <label id="age" for="inputAge">Age</label>
                    <input type="text" class="form-control" id="inputAge">
                </div>
            </div>
        </form>

        <!-- Client Information Header -->
        <div class="container-client">
            <div class="client-header">
                <div>Client Information</div>
            </div>
        </div>
        <br>
        <form>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputFirstName">First Name</label>
                    <input type="text" class="form-control" id="inputFirstName" placeholder="First Name ">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputLastName">Last Name</label>
                    <input type="text" class="form-control" id="inputLastName" placeholder="Last Name">
                </div>
            </div>
        </form>

        <form>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputEmail">Email</label>
                    <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputPassword4">Phone Number</label>
                    <input type="text" class="form-control" id="inputPassword" placeholder="Phone Number">
                </div>
            </div>

            <div class="container-fh">
                <div class="footer-header">
                    <div class="copyright">COPYRIGHT &#169;2019 VetSx</div>
                </div>
            </div>

    </div>


</body>

</html>