<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="particles.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/form.css" />
    <link rel="stylesheet" href="app.js" />
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


    <title>VetSx Form</title>
</head>

<body>
    <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
                <div class="container">
                      <h1 class="header">VetSx &nbsp;</h1>
                      <div class="tagline">Care. Heal. Connect.</div>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                      </button>
                  <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                      <li class="nav-item active">
                        <a class="nav-link" id="patientStat" href="#">Patient Status
                            </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">| About</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">| Consumer |</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Logout</a>
                      </li>
                    </ul>
                  </div>
                </div>
        </nav>
              
              <!-- Page Content -->
              <!-- <img src="assets/css/images/shiba.jpeg" alt="shiba inu"> -->

<br><br>
              <!-- <div class="container1">
              <h2>Patient Status</h2>
              <br>
              <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                      <a class="nav-link active" id="date-tab" data-toggle="tab" href="#date" role="tab" aria-controls="date" aria-selected="true">Date & Time</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="basic-tab" data-toggle="tab" href="#basic" role="tab" aria-controls="basic" aria-selected="false">Basic</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="doc-tab" data-toggle="tab" href="#doc" role="tab" aria-controls="doc" aria-selected="false">Doctor & Tech</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="vitals-tab" data-toggle="tab" href="#vitals" role="tab" aria-controls="vitals" aria-selected="false">Vitals</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="surgery-tab" data-toggle="tab" href="#surgery" role="tab" aria-controls="surgery" aria-selected="false">Surgery Status</a>
                    </li>
                  </ul>

                  <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="date" role="tabpanel" aria-labelledby="date-tab">
                        Date & Time
                    </div>
                    <div class="tab-pane fade" id="basic" role="tabpanel" aria-labelledby="basic-tab">
                        Basic
                    </div>
                    <div class="tab-pane fade" id="doc" role="tabpanel" aria-labelledby="doc-tab">
                        Doctor & Tech
                    </div>
                    <div class="tab-pane fade" id="vitals" role="tabpanel" aria-labelledby="vitals-tab">
                        Vitals
                    </div>
                    <div class="tab-pane fade" id="surgery" role="tabpanel" aria-labelledby="surgery-tab">
                        Surgery
                    </div>
                  </div>
                </div> -->



              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              <!-- <div class="container">
                    <h2>Patient Status</h2>
                    <br>
                  
                    <ul class="nav nav-tabs">
                      <li class="active"><a data-toggle="tab" href="#dt">Date & Time</a></li>
                      <li><a data-toggle="tab" href="#basic">Basic</a></li>
                      <li><a data-toggle="tab" href="#doctech">Doctor & Tech</a></li>
                      <li><a data-toggle="tab" href="#vitals">Vitals</a></li>
                      <li><a data-toggle="tab" href="#surg">Surgery Status</a></li>
                    </ul>
                  
                    <div class="tab-content">
                      <div id="dt" class="tab-pane fade in active">
                        <h3>Date & Time</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                      <div id="basic" class="tab-pane fade">
                        <h3>Basic</h3>
                        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                      </div>
                      <div id="doctech" class="tab-pane fade">
                        <h3>Doctor & Tech</h3>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                      </div>
                      <div id="vitals" class="tab-pane fade">
                        <h3>Vitals</h3>
                        <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                      </div>
                      <div id="surg" class="tab-pane fade">
                        <h3>Surgery Status</h3>
                        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        </div>
                    </div>
                  </div> -->
                  





                <!-- <br>
                <br>
                <br>
              <h2>Patient Information</h2> -->



              <!-- <p>Click on the buttons inside the tabbed menu:</p> -->
              
              <!-- <div class="tab">
                <button class="tablinks" onclick="openTabs(event, 'Date & Time')" id="defaultOpen">Date & Time</button>
                <button class="tablinks" onclick="openTabs(event, 'Basic')">Basic</button>
                <button class="tablinks" onclick="openTabs(event, 'Doctor & Tech')">Doctor & Tech</button>
                <button class="tablinks" onclick="openTabs(event, 'Vitals')">Vitals</button>
                <button class="tablinks" onclick="openTabs(event, 'Surgery Status')">Surgery Status</button>
              </div>
              
              <div id="Date & Time" class="tabcontent">
                <h3>Date & Time</h3>
                <p>Enter the date and time below.</p>
              </div>
              
              <div id="Basic" class="tabcontent">
                <h3>Basic</h3>
                <p>Paris is the capital of France.</p> 
              </div>
              
              <div id="Doctor & Tech" class="tabcontent">
                <h3>Doctor & Tech</h3>
                <p>Tokyo is the capital of Japan.</p>
              </div>

              <div id="Vitals" class="tabcontent">
                <h3>Vitals</h3>
                <p>Tokyo is the capital of Japan.</p>
              </div>

              <div id="Doctor & Tech" class="tabcontent">
                <h3>Surgery Status</h3>
                <p>Tokyo is the capital of Japan.</p>
              </div>
              
              <script>
              function openTabs(evt, tabName) {
                var i, tabcontent, tablinks;
                tabcontent = document.getElementsByClassName("tabcontent");
                for (i = 0; i < tabcontent.length; i++) {
                  tabcontent[i].style.display = "none";
                }
                tablinks = document.getElementsByClassName("tablinks");
                for (i = 0; i < tablinks.length; i++) {
                  tablinks[i].className = tablinks[i].className.replace(" active", "");
                }
                document.getElementById(tabName).style.display = "block";
                evt.currentTarget.className += " active";
              } -->
              
              <!-- // Get the element with id="defaultOpen" and click on it
              document.getElementById("defaultOpen").click();
              </script> -->







             
             
              <!-- <div class="container mt-3"> -->
                    <div class="container mt-3">

                    <h2>Patient Status</h2>
                    <br>
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                      <li class="nav-item">
                        <a class="nav-link active rounded-0" id="date-tab" data-toggle="tab" role="tab" href="#date" aria-controls="date" aria-selected="true">Date & Time</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link rounded-0" id="basic-tab" data-toggle="tab" role="tab" href="#basic" aria-controls="basic" aria-selected="false">Basic</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link rounded-0" id="doc-tab" data-toggle="tab" role="tab" href="#doc" aria-controls="doc" aria-selected="false">Doctor & Tech</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link rounded-0" id="vitals-tab" data-toggle="tab" role="tab" href="#vitals" aria-controls="vitals" aria-selected="false">Vitals</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link rounded-0" id="surg-tab" data-toggle="tab" role="tab" href="#surg" aria-controls="surgery" aria-selected="false">Surgical Status</a>
                      </li>
                    </ul>
                  
                    <!-- Tab Panes -->
                    <div class="tab-content" id="myTabContent">
                      <div class="tab-pane fade show active" id="date" role="tabpanel" aria-labelledby="date-tab">
                        Date & Time
                      </div> 

                    <div class="tab-pane fade" id="basic" role="tabpanel" aria-labelledby="basic-tab">
                        Basic
                    </div>
                    
                    <div class="tab-pane fade" id="doc" role="tabpanel" aria-labelledby="doc-tab">
                        Doctor & Tech
                    </div>

                    <div class="tab-pane fade" id="vitals" role="tabpanel" aria-labelledby="vitals-tab">
                        Vitals
                    </div>

                    <div class="tab-pane fade" id="surg" role="tabpanel" aria-labelledby="surgery-tab">
                        Surgical Status
                    </div>
                    </div>
                  </div>

                  
<!-- Body Content -->
            <script type="text/javascript">
                $(function () {
                    $('#dtpickerdemo').datetimepicker();
                });
            </script>
        </div>
    </div>
    
             
             
             
             
             
             
             
             
             
             
             
              
</body>
</html>