<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="particles.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="../client/public/assets/css/form.css" />
  <link rel="stylesheet" href="app.js" />
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <title>VetSx Form</title>
</head>




<body>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <h1 class="header">VetSx &nbsp;</h1>
      <div class="tagline">Care. Heal. Connect.</div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" id="patientStat" href="#">Patient Status
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">| Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">| Consumer |</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->

  <br><br>

  <div class="container mt-3">

    <h2>Patient Status</h2>
    <br>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <!-- <li class="nav-item">
        <a class="nav-link active" id="date-tab" data-toggle="tab" role="tab" href="#date" aria-controls="date"
          aria-selected="true">Date & Time</a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link" id="basic-tab" data-toggle="tab" role="tab" href="#basic" aria-controls="basic"
          aria-selected="false">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="doc-tab" data-toggle="tab" role="tab" href="#doc" aria-controls="doc"
          aria-selected="false">Providers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="vitals-tab" data-toggle="tab" role="tab" href="#vitals" aria-controls="vitals"
          aria-selected="false">Vitals</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="surg-tab" data-toggle="tab" role="tab" href="#surg" aria-controls="surgery"
          aria-selected="false">Surgical Status</a>
      </li>
    </ul>



    <!-- Tab Panes -->
    <!-- DATE & TIME -->
    <!-- <div class="tab-content" id="dateTabContent"> -->
    <!-- <div class="tab-pane fade show active" id="date" role="tabpanel" aria-labelledby="date-tab">
      Date & Time
    </div> -->
    <!-- </div> -->


    <!-- PROFILE -->
    <!-- <div class="tab-content" id="profileTabContent"> -->
    <div class="tab-pane fade" id="basic" role="tabpanel" aria-labelledby="basic-tab">
      <!-- Patient Information Header -->
      <div class="container-profile">
        <div class="page-header">
          <div>Profile Information</div>
        </div>
      </div>
      <!-- Patient Image -->
      <div class="media">
        <img src="../client/public/assets/images/shiba.jpeg" class="mr-4" alt="shibainu">
        <div class="media-body">
          <br><br>
          <!-- Patient and Client ID Input -->
          <form>
            <div class="form-group">
              <label id="patientID" for="patientID">Patient ID</label>
              <input class="form-control input-sm col-md-4" id="patientText" type="text">
            </div>
            <div class="form-group">
              <label id="clientID" for="clientID">Client ID</label>
              <input class="form-control input-sm col-md-4" id="clientText" type="text">
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- Patient Information Header -->
    <div class="container-profile">
      <div class="patient-header">
        <div>Patient Information</div>
      </div>
    </div>
    <br>
    <!-- Patient Information Inputs -->
    <form>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label id="petsName" for="inputPetsName">Pets Name</label>
          <input type="text" class="form-control" id="inputPetsName">
        </div>
        <div class="form-group col-md-3">
          <label id="species" for="inputSpecies">Species</label>
          <input type="text" class="form-control" id="inputSpecies">
        </div>
        <div class="form-group col-md-3">
          <label id="breed" for="inputBreed">Breed</label>
          <input type="text" class="form-control" id="inputBreed">
        </div>
      </div>
    </form>

    <form>
      <div class="form-row">
        <div class="form-group col-md-3">
          <label id="gender" for="inputGender">Gender</label>
          <input type="text" class="form-control" id="inputGender">
        </div>
        <div class="form-group col-md-2">
          <label id="age" for="inputAge">Age</label>
          <input type="text" class="form-control" id="inputAge">
        </div>
        <div class="form-group col-md-5">
          <label id="color" for="inputColor">Color / Markings</label>
          <input type="text" class="form-control" id="inputColor">
        </div>
      </div>
    </form>

    <br>

    <form>
      <div class="form-row">
        <label id="spayed" class="form-group col-md-2">Spayed / Neutered</label>
        <div class="form-check col-md-1">
          <input id="spayedYesBox" class="form-check-input" type="checkbox">
          <label id="spayedYes" class="form-check-label" for="yes">Yes</label>
        </div>
        <div class="form-check col-md-1">
          <input id="spayedNoBox" class="form-check-input" type="checkbox">
          <label id="spayedNo" class="form-check-label" for="no">No</label>
        </div>
        <label id="microchipped" class="form-group col-md-2">Microchipped</label>
        <div class="form-check col-md-1">
          <input id="microYesBox" class="form-check-input" type="checkbox">
          <label id="microYes" class="form-check-label" for="yes">Yes</label>
        </div>
        <div class="form-check col-md-1">
          <input id="microNoBox" class="form-check-input" type="checkbox">
          <label id="microNo" class="form-check-label" for="no">No</label>
        </div>
      </div>
    </form>
    <br>
    <form>
      <div class="form-group">
        <label for="exampleFormControlTextarea1">Medical History</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
    </form>

    <!-- Client Information Header -->
    <div class="container-client">
      <div class="client-header">
        <div>Client Information</div>
      </div>
    </div>
    <br>
    <form>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputFirstName">First Name</label>
          <input type="text" class="form-control" id="inputFirstName" placeholder="First Name ">
        </div>
        <div class="form-group col-md-6">
          <label for="inputLastName">Last Name</label>
          <input type="text" class="form-control" id="inputLastName" placeholder="Last Name">
        </div>
      </div>
    </form>

    <form>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputEmail">Email</label>
          <input type="email" class="form-control" id="inputEmail" placeholder="Email">
        </div>
        <div class="form-group col-md-6">
          <label for="inputPassword4">Phone Number</label>
          <input type="text" class="form-control" id="inputPassword" placeholder="Phone Number">
        </div>
      </div>
      <div class="form-group">
        <label for="inputAddress">Address</label>
        <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
      </div>
      <div class="form-group">
        <label for="inputAddress2">Address 2</label>
        <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputCity">City</label>
          <input type="text" class="form-control" id="inputCity">
        </div>
        <div class="form-group col-md-4">
          <label for="inputState">State</label>
          <select id="inputState" class="form-control state">
            <option selected>State</option>
            <option value="Alabama">Alabama</option>
            <option value="Alaska">Alaska</option>
            <option value="Arizona">Arizona</option>
            <option value="Arkansas">Arkansas</option>
            <option value="California">California</option>
            <option value="Colorado">Colorado</option>
            <option value="Connecticut">Connecticut</option>
            <option value="Delaware">Delaware</option>
            <option value="Florida">Florida</option>
            <option value="Georgia">Georgia</option>
            <option value="Hawaii">Hawaii</option>
            <option value="Idaho">Idaho</option>
            <option value="Illinois">Illinois</option>
            <option value="Indiana">Indiana</option>
            <option value="Iowa">Iowa</option>
            <option value="Kansas">Kansas</option>
            <option value="Kentucky">Kentucky</option>
            <option value="Louisiana">Louisiana</option>
            <option value="Maine">Maine</option>
            <option value="Maryland">Maryland</option>
            <option value="Massachusetts">Massachusetts</option>
            <option value="Michigan">Michigan</option>
            <option value="Minnesota">Minnesota</option>
            <option value="Mississippi">Mississippi</option>
            <option value="Missouri">Missouri</option>
            <option value="Montana">Montana</option>
            <option value="Nebraska">Nebraska</option>
            <option value="Nevada">Nevada</option>
            <option value="New Hampshire">New Hampshire</option>
            <option value="New Jersey">New Jersey</option>
            <option value="New Mexico">New Mexico</option>
            <option value="New York">New York</option>
            <option value="North Carolina">North Carolina</option>
            <option value="North Dakota">North Dakota</option>
            <option value="Ohio">Ohio</option>
            <option value="Oklahoma">Oklahoma</option>
            <option value="Oregon">Oregon</option>
            <option value="Pennsylvania">Pennsylvania</option>
            <option value="Rhode Island">Rhode Island</option>
            <option value="South Carolina">South Carolina</option>
            <option value="South Dakota">South Dakota</option>
            <option value="Tennessee">Tennessee</option>
            <option value="Texas">Texas</option>
            <option value="Utah">Utah</option>
            <option value="Vermont">Vermont</option>
            <option value="Virginia">Virginia</option>
            <option value="Washington">Washington</option>
            <option value="West Virginia">West Virginia</option>
            <option value="Wisconsin">Wisconsin</option>
            <option value="Wyoming">Wyoming</option>
          </select>
        </div>
        <div class="form-group col-md-2">
          <label for="inputZip">Zip</label>
          <input type="text" class="form-control" id="inputZip">
        </div>
      </div>
    </form>

    <form>
      <div class="form-group">
        <label for="additionalInformation">Additional Information</label>
        <textarea class="form-control" id="addInfo" rows="3"></textarea>
      </div>
    </form>

    <div class="container-client">
      <div class="footer-header">
        <div class="copyright">COPYRIGHT &#169;2019 VetSx</div>
      </div>
    </div>


    <!-- PROVIDERS Tab -->
    <!-- <div class="tab-content" id="providerTabContent"> -->
    <div class="tab-pane fade" id="doc" role="tabpanel" aria-labelledby="doc-tab">

      <div class="container-providers">
        <div class="page-header-providers">
          <div>Providers</div>
        </div>
      </div>
      <br>
      <div class="card-deck">
        <div class="card">
          <img class="card-img-top" src="../client/public/assets/images/vet2.jpg" style="height: 280px" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Patricia Fellows, D.V.M.</h5>
            <p class="card-text"></p>
            <p class="card-text"><small class="text-muted"></small></p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="../client/public/assets/images/femaletech.jpg" style="height: 280px"
            alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Kelly Lowry, R.V.T.</h5>
            <p class="card-text"></p>
            <p class="card-text"><small class="text-muted"></small></p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="../client/public/assets/images/maletech2.jpg" style="height: 280px"
            alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">John Martin, R.V.T.</h5>
            <p class="card-text"></p>
            <p class="card-text"><small class="text-muted"></small></p>
          </div>
        </div>
      </div>
    </div>
    <!-- </div> -->
    <!-- VITALS Tab -->
    <!-- CSS Grid utilized for Vitals -->
    <!-- <div class="tab-content" id="vitalsTabContent"> -->
    <div class="tab-pane fade" id="vitals" role="tabpanel" aria-labelledby="vitals-tab">
      <br>
      <div class="container-v">
        <div class="item item1">Vital Statistics</div>

        <!-- <div class="item item-a">Types</div>
                            <div class="item item-b">Ranges</div> -->

        <div class="item item2">Heart Rate</div>
        <div class="item item3">
          <pre>Normal Range</pre>60-140 bpm</div>

        <div class="item item4">Blood Pressure</div>
        <div class="item item5">
          <pre>Normal Range</pre>65-75 diastolic</div>

        <div class="item item6">Oxygen Saturation(SPO<sub>2</sub> )</div>
        <div class="item item7">
          <pre>Normal Range</pre>>95%</div>

        <div class="item item8">Respiration</div>
        <div class="item item9">
          <pre>Normal Range</pre>10-35 rpm</div>

        <div class="item item10">Temperature</div>
        <div class="item item11">
          <pre>Normal Range</pre>100-102.5 degrees</div>

        <div class="item item12"> End-tidal CO<sub>2</sub>(EtCO<sub>2</sub> )</div>
        <div class="item item13">
          <pre>Normal Range</pre>35-45 mmHg</div>

        <!-- <div class="item item14">Footer</div> -->

      </div>
    </div>
    <!-- </div> -->

    <!-- SURGERY -->
    <!-- <div class="tab-content" id="surgeryTabContent"> -->
    <div class="tab-pane fade" id="surg" role="tabpanel" aria-labelledby="surgery-tab">

      <div class="container-profile">
        <div class="page-header">
          <div>Surgical Procedure Status</div>
        </div>
      </div>

      <div class="media">
        <img src="../client/public/assets/images/shiba.jpeg" class="mr-4" alt="shibainu">
        <div class="media-body">
          <br><br>

          <!--  Surgical Procedure Status -->
          <form>
            <div class="form-row">
              <div class="form-group col-md-4">
                <label id="sxpatientID" for="inputPatientID">Patient ID</label>
                <input type="text" class="form-control" id="inputsxPatientID">
              </div>
              <div class="form-group col-md-3">
                <label id="sxDate" for="inputDate">Date</label>
                <input type="text" class="form-control" id="inputsxDateID">
              </div>
            </div>
          </form>

          <form>
            <div class="form-row">
              <div class="form-group col-md-4">
                <label id="sxclientID" for="inputClientID">Client ID</label>
                <input type="text" class="form-control" id="inputsxClientID">
              </div>
              <div class="form-group col-md-3">
                <label id="sxTime" for="inputTime">Time</label>
                <input type="text" class="form-control" id="inputsxTimeID">
              </div>
            </div>
          </form>
        </div>
      </div>

      <!-- Patient Information Header -->
      <div class="container-profile">
        <div class="patient-header">
          <div>Patient Information</div>
        </div>
      </div>
      <br>
      <!-- Patient Information Inputs -->
      <form>
        <div class="form-row">
          <div class="form-group col-md-4">
            <label id="petsName" for="inputPetsName">Pets Name</label>
            <input type="text" class="form-control" id="inputPetsName">
          </div>
          <div class="form-group col-md-3">
            <label id="species" for="inputSpecies">Species</label>
            <input type="text" class="form-control" id="inputSpecies">
          </div>
          <div class="form-group col-md-3">
            <label id="breed" for="inputBreed">Breed</label>
            <input type="text" class="form-control" id="inputBreed">
          </div>
        </div>
      </form>

      <form>
        <div class="form-row">
          <div class="form-group col-md-3">
            <label id="gender" for="inputGender">Gender</label>
            <input type="text" class="form-control" id="inputGender">
          </div>
          <div class="form-group col-md-2">
            <label id="age" for="inputAge">Age</label>
            <input type="text" class="form-control" id="inputAge">
          </div>
        </div>
      </form>

      <!-- Client Information Header -->
      <div class="container-client">
        <div class="client-header">
          <div>Client Information</div>
        </div>
      </div>
      <br>
      <form>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputFirstName">First Name</label>
            <input type="text" class="form-control" id="inputFirstName" placeholder="First Name ">
          </div>
          <div class="form-group col-md-6">
            <label for="inputLastName">Last Name</label>
            <input type="text" class="form-control" id="inputLastName" placeholder="Last Name">
          </div>
        </div>
      </form>

      <form>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputEmail">Email</label>
            <input type="email" class="form-control" id="inputEmail" placeholder="Email">
          </div>
          <div class="form-group col-md-6">
            <label for="inputPassword4">Phone Number</label>
            <input type="text" class="form-control" id="inputPassword" placeholder="Phone Number">
          </div>
        </div>

        <!-- Patient Surgical Status Header -->
        <div class="container-sx">
          <div class="surgical-header">
            <div>Patient Surgical Status</div>
          </div>
        </div>
        <br>
        <div class="form-group col-md-4">
          <label id="currentStatus" for="inputsxStatus">Current Status</label>
          <select id="inputsxStatus" class="form-control status">
            <option selected></option>
            <option value="Pre-Op">Pre-Op</option>
            <option value="Surgical Prep">Surgical Prep</option>
            <option value="Induction">Induction</option>
            <option value="Start of Surgery">Start of Surgery</option>
            <option value="2 Hours Left">2 Hours Left</option>
            <option value="1 Hour Left">1 Hour Left</option>
            <option value="15 Minutes Left">15 Minutes Left</option>
            <option value="Start of Recovery">Start of Recovery</option>
            <option value="Recovered">Recovered</option>
            <option value="Pick-up In 2 Hours">Pick-up In 2 Hours</option>
          </select>
        </div>

        <form>
          <div class="form-group">
            <label for="additionalInformation">Additional Comments</label>
            <textarea class="form-control" id="addInfo" rows="3"></textarea>
          </div>
          <br>
        </form>

        <button type="submit" class="btn btn-primary">Submit</button>

        <br><br>


        <div class="container-client">
          <div class="footer-header">
            <div class="copyright">COPYRIGHT &#169;2019 VetSx</div>
          </div>
        </div>

    </div>








  </div>


</body>

</html>