.footer {
  background-color: #c1ccc3;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 30px;
  width: 100%;
  overflow: hidden;
  padding-top: 6px;
  font-size: 12px;
}
.footer-center-text {
  font-weight: 700;
}
