/* Navbar */

.nav-link {
  word-spacing: 1em;
}

h1.header {
  color: aqua;
  font-size: 59px;
  /* font-family: 'Audiowide', cursive; */
  font-family: "Orbitron", sans-serif;
  /* font-family: 'Ubuntu', sans-serif; */
  /* font-family: 'Aldrich', sans-serif; */
  /* font-family: 'Do Hyeon', sans-serif; */
  /* font-family: 'Montserrat Subrayada', sans-serif; */
  margin-top: 7px;
  margin-bottom: 0;
  padding-top: 2px;
}

.tagline {
  color: white;
}

.container {
  height: 80px;
}

#patientStat {
  word-spacing: 0.2em;
}

/* Subtitle and Description */

.wrapper {
  margin-top: 15em;
  /* background-color: rgb(193, 202, 204); */
}

#subtitle {
  font-size: 44px;
  /* color: #6aeb5e; */
  /* color: #696e72; */
  color: #35cf27;
  text-shadow: -1px -1px 0 #343a40, 1px -1px 0 #343a40, -1px 1px 0 #343a40,
    1px 1px 0 #343a40;
}

#description {
  font-size: 19px;
}

body {
  background-color: rgb(193, 202, 204);
}
